<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personenverwaltung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Personenverwaltung" />
    <meta name="author" content="Henry Joerg" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap-4.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1 class="text-center" style="margin-top: 1rem; margin-bottom: 1rem;">Personen</h1>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 1rem;" th:each="person : ${persons}">
            <div class="card">
                <a style="color: inherit;text-decoration: inherit;" th:href="@{/editPerson/{id}(id = ${person.id})}">
                    <div class="card-body">
                        <h3 class="text-center" style="text-wrap: normal" th:text="${person.firstname + ' ' + person.lastname}"></h3>
                        <div class="card card-body text-center">
                            <p th:text="${person.email}"></p>
                            <p th:text="${person.birthdate}"></p>
                            <p style="margin-bottom: 0;" th:text="${person.gender}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="text-center btn btn-primary float-right" href="/editPerson">Neue Person erstellen</a>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:src="@{/bootstrap-4.1.3/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
